# ble_peripheral/tudsV11
ble_peripheral/tudsV11/config
ble_peripheral/tudsV11/hex
ble_peripheral/tudsV11/pca10028/s130
ble_peripheral/tudsV11/pca10028/s130_with_dfu/arm5_no_packs/_build


# ble_peripheral/ud2V11
ble_peripheral/ud2V11

# ble_peripheral/fudsV11
ble_peripheral/fudsV11


# peripheral/radio_test
peripheral/radio_test/hex

peripheral/radio_test/pca10028/arm4
peripheral/radio_test/pca10028/armgcc
peripheral/radio_test/pca10028/iar
peripheral/radio_test/pca10028/arm5_no_packs/_build

# dfu/bootloader
dfu/bootloader/pca10036/
dfu/bootloader/pca10040/
dfu/bootloader/pca10028/dual_bank_serial_s130/
dfu/bootloader/pca10028/single_bank_serial_s130/

dfu/bootloader/*.eww
dfu/bootloader/*.ld
dfu/bootloader/config
dfu/bootloader/hex

dfu/bootloader/pca10028/dual_bank_ble_s130/arm4
dfu/bootloader/pca10028/dual_bank_ble_s130/iar
dfu/bootloader/pca10028/dual_bank_ble_s130/armgcc

dfu/bootloader/pca10028/dual_bank_ble_s130/arm5_no_packs/_build
dfu/bootloader/pca10028/dual_bank_ble_s130/arm5_no_packs/dfu_*
dfu/bootloader/pca10028/dual_bank_ble_s130/arm5_no_packs/*.karel




# nrfutil
nrfutil/*.zip
nrfutil/*.hex

# ble_peripheral/ble_app_hrs - Reference
ble_peripheral/ble_app_hrs

# OTHER
*.txt
*.bak
*.TMP
*.tmp

#------------------------------------------------------------------------------
#------------------------------------------------------------------------------

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
